@use "components";
@use "variables";
@use "form";
@use "layout";
@use "homepage";

.heroacerca{
    @include section-row;
    @media (max-width: 480px) {
        padding: $padding32 $padding16;
        flex-direction: column;
        gap: $gap24
    }
    .containerheroacerca{
        @extend .containerproyecto;
    }
    .containerimgs {
        @extend .containerimgs;
    }
}

// .contribuciones{
//     @extend .contribuciones;
//     .forta1 {
//         @extend .forta1;
//         .itemfortalezas {
//             @extend .itemfortalezas;
//         }
//     }
// }

