@use "mixins";
@use "variables"; 
@use "homepage"; 


.main-content-wrapper{
    @media (max-width: 480px) {
        order: 1;
    }
}
.heroacerca{
    @extend .hero-section;


  @media (max-width: 480px) {
    padding: variables.$padding32 variables.$padding16; 
    flex-direction: column;
    gap: variables.$gap24; 
  }

}
