@use "components"; 
@use "variables"; 

.inputt {
  display: flex;
  flex-direction: column;
  padding-bottom: variables.$padding16; 
}

input[type="submit"] {
  @extend .btn-outline-primary; // ¡AJUSTE!
  background-color: variables.$color-blanco; 
  @media (max-width: 480px) {
    width: 100%; 
  }
}

input, textarea {
  border-radius: variables.$border-radius6; 
  border: 1px solid variables.$color-secondary; 
  padding: variables.$padding8; 
  font-size: 14px;
}

.formm {
  width: 100%;
}
  .contador {
    color: variables.$color-secondary; 
    font-size: 14px;
    padding-left: variables.$padding8; 
    padding-top: variables.$padding8; 
  }

input::placeholder, input textarea::placeholder {
  color: variables.$color-secondary; 
  font-size: 14px;
  padding-left: variables.$padding8; 
}
