@use "variables"; 

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: variables.$main-font; 
    line-height: variables.$line-height; 
    background-color: variables.$color-tertiary; 
    font-size: variables.$font-size-base; 
}

li {
  list-style-type: none;
}
 
#contrisec, #colabosec, #headersec {
  background-color: variables.$color-blanco; 
}
#heros{
  padding: 40px 0px 120px 0px;

  @media (max-width: 480px) {
    padding: 0px 0px 64px 0px ; 
  }
}

#colabosec{
  @media (max-width: 480px) {
    padding: 56px 16px;
  }
}

a{
  color:variables.$color-primary;
  text-decoration: none;
  &:hover {
    color: variables.$color-blanco;
  }
}
