@use "variables"; // ¡AJUSTE!
@use "general"; // Si usas selectores de general, mantenlo.

body {
  background-color: variables.$color-tertiary; // ¡AJUSTE!
  display: grid;
  width: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}

header {
grid-area: header;
height: 100%;
background-color: variables.$color-tertiary;
display: flex;
flex-direction: row;
justify-content: center;
position: sticky;
top: 0px;
z-index: 10;
width: 100%;
}

main {
  grid-area: main;
  width: 100%;
}

footer {
  grid-area: footer;
  width: 100%;
  background-color: variables.$color-primary; // ¡AJUSTE!
  color:variables.$color-blanco; // ¡AJUSTE!
  padding: variables.$padding16; // ¡AJUSTE!
  display: flex;
  justify-content: center;

  .containerfooter {
    max-width: variables.$max-desktop; // ¡AJUSTE!
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: variables.$padding32; // ¡AJUSTE!

  @media (max-width: 480px) {
    flex-direction: column;
    padding: variables.$padding24; // ¡AJUSTE!
    gap: variables.$padding32; // ¡AJUSTE!
    align-items: center;
  }
  a {
    color: variables.$color-blanco; // ¡AJUSTE!
    text-decoration: none;
    font-weight: 500;
    padding-right: 32px;
  }
  p {
    color: variables.$color-blanco; // ¡AJUSTE!
    font-size: variables.$font-size-base; // ¡AJUSTE!
  }

  @media (max-width: 480px) {
        flex-direction: column;
        padding: 24px 16px;
        max-width: none;
        width: 100%;
        gap: variables.$gap16; // ¡AJUSTE!
    }
}
}