

@mixin main-section-fullwidth{
    padding: 120px 0px;
    gap: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 480px) {
        padding: 24px 0px;
        width: 100%;
    }
}


@mixin section-row{
    padding: 48px 56px;
    gap: $gap32;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: $max-desktop;
    margin: 0 auto;

    @media (max-width: 480px) {
        flex-direction: column;
        padding: 24px 16px;
        max-width: none;
        width: 100%;
        gap: $gap16;
    }


}

@mixin section-column{
    padding: 48px 56px;
    gap: $gap32;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: $max-desktop;
    margin: 0 auto;

    @media (max-width: 480px) {
        padding: 24px 16px;
        max-width: none;
        width: 100%;
        gap: $gap16;
    }
}

@mixin h2{
    font-size: $font-size-l;
    color: $color-primary;
    margin-bottom: $margin8 ;
    text-align: left;
}

@mixin h3{
    font-size: $font-size-m;
    color: $color-primary;
    margin-bottom: $margin8 ;
    text-align: left;
}