@use "mixins";
@use "variables";

.heroproyectos{
    @include mixins.section-row; 
        padding: 56px 56px;

    h2{
        width: 100%;
    }

    @media (max-width: 480px) {
        padding: variables.$padding32 variables.$padding16; 
        flex-direction: column;
        gap: variables.$gap24; 
    }
}
