
//variables

$color-primary: #1f1f1f;
$color-secondary: #5D5D5D;
$color-tertiary: #f5f5f5;
$color-blanco: #fff;

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

$main-font: 'Inter', sans-serif;
$line-height: 1.6;
$padding8: 8px;
$padding16: 16px;
$padding24: 24px;
$padding32: 32px;
$padding40: 40px;

$margin8: 8px;
$margin16: 16px;
$margin24: 24px;
$margin32: 32px;
$margin48: 48px;

$gap8: 8px;
$gap16: 16px;
$gap24: 24px;
$gap32: 32px;

$border-radius6: 6px;
$border-radius16:16px;
$border-radius24: 24px;
$borderarticle: 1px solid $color-tertiary;

$font-size-base: 1rem;
$font-size-m: 1.3rem;
$font-size-l: 2rem;

$max-desktop: 1200px;

